<launch>

    <!-- ==============gps================== -->
    <include file="$(find perception)/launch/gps_sim.launch"/>
    

    <param name="location_gps" value="false" />
    <!-- ===========gps_in_ndt_map========== -->
	<rosparam file="$(find perception)/config/map_in_gps_sim.yaml" command="load" />
    <!-- <param name="map_in_world_x" value="525792.6743180722"/>
    <param name="map_in_world_y" value="4316546.982002216"/>
    <param name="map_in_world_z" value="-3.221"/>
    <param name="map_in_world_roll" value="0.62"/>
    <param name="map_in_world_pitch" value="-0.4"/>
    <param name="map_in_world_yaw" value="78.91"/> -->
    <node pkg="perception" type="tf_odom_publisher_sim" name="tf_odom_publisher_sim" output="screen">
    </node>
    <!-- ================================== -->

    <!-- 用gazebo的odom的定位作为初始位姿 -->
    <!-- ==============ndt_localizer================== -->
    <include file="$(find ndt_localizer)/launch/ndt_localizer.launch"/>
    <!-- ============================================= -->


    <!-- ==============odom================== -->
    <param name="source_frame" value="front_axle" />
    <param name="target_frame" value="map" />
    <param name="odom_frame" value="map"/>
    <param name="child_frame" value="front_front_axle"/>
    <node name="odom_pub" pkg="perception" type="odom_pub" output="screen">
    </node>
    <!-- ================================ -->

</launch>
