<launch>
    <node pkg="lidar_detection_track" type="lidar_detection_track_node" name="lidar_detection_track_node">
        <rosparam file="$(find lidar_detection_track)/config/lidar_detection_track.yaml" command="load"/>
    </node>

    <rosparam file="$(find lidar_detection_track)/config/process.yaml" command="load"/>
    <node pkg="lidar_detection_track" type="process_data" name="process_data" output="screen">
    </node>
</launch>
