<launch>

	<arg name="rviz" default="true" />
	<arg name="plot" default="false" />
	<arg name="plot_states" default="false" />

    <!-- <include file="$(find ndt_localizer)/launch/ndt_localizer.launch" />
    <include file="$(find control_pkg)/launch/control.launch" /> -->
    <include file="$(find hybrid_a_star)/launch/run_hybrid_a_star.launch" />
	<!-- <node name="cmdvel2gazebo" pkg="forklift_gazebo" type="control_fork.py" output="screen"/> -->

    <!-- <include file="$(find forklift_nav)/launch/move_base.launch" /> -->
	
	<!-- <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	  	<rosparam file="$(find forklift_nav)/cfg/carlike/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find forklift_nav)/cfg/carlike/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find forklift_nav)/cfg/carlike/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find forklift_nav)/cfg/carlike/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find forklift_nav)/cfg/carlike/mpc_local_planner_params.yaml" command="load" />

		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />

		<param name="base_local_planner" value="mpc_local_planner/MpcLocalPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />

		<param name="clearing_rotation_allowed" value="false" /> 
		<param name="MpcLocalPlannerROS/controller/publish_ocp_results" value="true" if="$(arg plot)" />
	</node> -->

    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find forklift_nav)/rviz/nav.rviz" /> -->
	<node name="rviz_mpc" pkg="rviz" type="rviz" args="-d $(find forklift_nav)/cfg/rviz_navigation.rviz" if="$(arg rviz)"/>

</launch>
