<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="use_sim_time" value="true"/>

	<!-- 彩色世界的初始位置 -->
	<!-- <arg name="x" value="0.0"/>
	<arg name="y" value="0.0"/>
	<arg name="z" value="0.0"/>
	<arg name="roll" value="-0.0"/>
	<arg name="pitch" value="0.0"/>
	<arg name="yaw" value="0.0"/> -->
	<arg name="x" value="-24.7791"/>
	<arg name="y" value="1.8364"/>
	<arg name="z" value="0.0"/>
	<arg name="roll" value="-0.0"/>
	<arg name="pitch" value="0.0"/>
	<arg name="yaw" value="1.59"/>


	<arg name="urdf_robot_file" value="$(find clamp_fork)/urdf/fork.xacro"/>
	<arg name="robot_name" value="smart"/>
	<param name="robot_description" command="$(find xacro)/xacro '$(arg urdf_robot_file)' roboname:='smart'" />

	<!-- <include file="$(find gazebo_ros)/launch/empty_world.launch"> -->
		<!-- 空白地图 -->
		<!-- <arg name="world_name" value="$(find clamp_fork)/worlds/2024.10.15.world" /> -->
		<!-- 彩色世界初始 -->
		<!-- <arg name="world_name" value="$(find clamp_fork)/worlds/my_world.world" /> -->
		<!-- 孪生试验场 -->
		<!-- <arg name="world_name" value="$(find clamp_fork)/worlds/vehicle_test7.world" /> -->
		<!-- <arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="false"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
	</include> -->


	<node name="spawn_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) 
	-R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg robot_name) -param robot_description"/>
	
	
	<arg name="config_file" value="smart_control_config1.yaml"/>

	<rosparam file="$(find clamp_fork)/config/$(arg config_file)" command="load"/>
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" args="joint_state_controller rear_right_velocity_controller rear_left_velocity_controller front_right_steering_position_controller front_left_steering_position_controller
													base_link_to_fork_left_horizontal_controller
													fork_left_horizontal_to_fork_left_vertical_controller
													base_link_to_fork_right_horizontal_controller
													fork_right_horizontal_to_fork_right_vertical_controller"/>

  	<!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find clamp_fork)/maps/1/map.yaml"/> -->
	<!-- 空白 -->
  	<!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find clamp_fork)/maps/control/map.yaml"/> -->
  	<!-- 实车地图 -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find clamp_fork)/maps/control/map2.yaml"/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
		respawn="true" output="screen">
		<remap from="/joint_states" to="/$(arg robot_name)/joint_states" />
	</node>
	<include file="$(find car_ori_display)/launch/sim.launch"/>

</launch>
