<launch>
    <!--- Sim Time -->
    <param name="/use_sim_time" value="true" />

    <!-- 车辆模型 -->
    <arg name = "model_xacro" default = "$(find forklift_gazebo)/urdf/base.xacro" />
    <param name="robot_description" command="$(find xacro)/xacro $(arg model_xacro)" />

    <!-- Launch  the robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
    </node>

    <!-- debug: gui 无法发布 -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> -->

    <!-- Loading rviz files -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find forklift_gazebo)/config/show_robot.rviz" /> 
    

    <!-- cyun: -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find forklift_gazebo)/worlds/grey.world" /> 
    </include>


    <rosparam file="$(find forklift_gazebo)/config/scout_v2_control.yaml" command="load"/>

    <!-- 在 gazebo 中加载机器人模型  -->
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model scout -param robot_description">  
    </node>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="fork_controller" />

</launch>
